<div class="display-5 m-3">
    Tournament Email List
</div>

<div class="justify-content-center">
    
    <div class="card m-3">
        <div class="card-body">
              <% for(let i = 0; i < eventListTour.length; i++) { %>

            <div id="elisttourn<%i%>" class="row event m-2"> 
                <div class="col">
                <%=eventListTour[i].name%>
                </div>
                <div class="col">
                <%=eventListTour[i].email%>
                </div>
                <div class="col">
                <%=eventListTour[i].phone%>
                </div>
                <div class="col">
                <%=moment(eventListTour[i].dateJoined).format('MMMM Do, YYYY')%>
                </div>

            </div>  
            <%   }  %>

          </div> <!-- Card body -->
        </div> <!-- Card  -->



</div> <!-- ends justify-content-center div -->