<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <%-include('head.ejs') %>            
    </head>

    <body>
        <%- include('mainNav.ejs', {navNuMain}); %>

        <div id="contact">
            <%- include('sendemail.ejs', { schools: schools, route: 'contact', heading: "Contact Us"}) %>  
        </div> <!-- ends contact div -->

    </body>
    <%-include('scripts.ejs') %> 
</html>
