<footer class='page-footer container-fluid blue pt-4'>
    <div class='row'>
      <div class='col-12 footer'>
      <p>WadoKiKai.org brought to you by Combative Sports Web Designs, its more than just a webpage <strong>it's a Knock Out!</strong>.</p>
      <p>Graphics provided by Woopsieroo<a href='https://twitter.com/Woopsieroo' target='_blank'>Twitter</a> or <a href='https://instagram.com/woopsieroo' target='_blank'>Instagram</a></p>
      </div>

        <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="/"> wadokikai.org</a>
      </div>
      <!-- Copyright -->
    </div>
</footer>