<div class="container-fluid">

    <div id="library" class="container-fluid"> 
      <%- include('news.ejs') %>
    </div>  <!-- library div   -->

    <div id="terms" class="container-fluid"> 
      <%- include('schedules.ejs') %>      
    </div>  <!-- wkk terms div   -->

    <div id="photogallery" class="container-fluid">  
      <%- include('contactus.ejs') %>  
    </div>   <!-- dojo photogallery div   -->

  </div> <!-- entire page div   -->