<% if (schools[i].pricing ) { %> 
    <div id="Notes<%=i%>"  class="p-1">
      <a class="btn btn-success" href="contact?s=1&ss=<%=i%>"><%=schools[i].pricing%></a> 
    </div> <!-- Notes END-->
  <% } %>