<div class="container-fluid">

    <div id="shinkokata" class="container-fluid"> 
      <%- include('shinkokata.ejs') %>
    </div>  <!-- shinkokata div   -->

    <div id="kata" class="container-fluid"> 
      <%- include('katas.ejs') %>      
    </div>  <!-- wkk kata div   -->

    <div id="selfdefense" class="container-fluid">  
      <%- include('selfdefense.ejs') %>  
    </div>   <!-- dojo selfdefense div   -->

  </div> <!-- entire page div   -->