<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Document</title>
  </head>

  <body>
    <div id="divForm">
      <p>
        Your Email:<br />
        <input type="email" name="email" id="email" placeholder="Your Email" />
      </p>
      <p>
        Your Name:<br />
        <input
          type="text"
          name="fullName"
          id="fullName"
          placeholder="Your Full Name"
        />
      </p>
      <p>
        Amount:<br />
        <input type="number" name="amount" id="amount" min="1" max="100000" />
      </p>
      <p><button>Checkout</button></p>
    </div>

    <script>
      const button = document.querySelector("button");
      const SERVER_ROOT_URL = "<%=serverURL%>";
      button.addEventListener("click", async () => {
        console.log("client checkout from view");

        const item = {
          itemId: 1,
          cliendId: 1,
          fullName: $("#fullName").val(),
          email: $("#email").val(),
          amount: $("#amount").val(),
        };

        console.log("Sending:", item);
        const resp = await fetch(SERVER_ROOT_URL + "/charge", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(item),
        });
        const json = await resp.json();
        console.log("JSON", json);
        if (json.status === 200) {
          window.location.replace(json.url);
        }
      });
    </script>
  </body>
</html>
